body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Variable', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 1;
}

.intro-container {
    display: flex;
    align-items: center;
}

.introduction {
    flex: 1;
}

.hover-animate {
    transition: transform 0.3s ease;
    height: auto;
    margin-right: 20px;
}

.hover-animate:hover {
    transform: scale(1.1);
    /* Increase size by 10% on hover */
}

h1,
h2 {
    text-align: left;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .intro-container {
        flex-direction: column;
    }

    .hover-animate {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}